:host {
  display: block;
  margin-top: 10px;
  padding: 0 10px;
}

[content] {
  @apply(--layout-flex);
  @apply(--layout-horizontal);
  margin-top: 10px;
}

paper-card {
  --paper-card-header: {
    background: #F5F5F5;
  }
  background-color: white;
  float: left;
  height: 450px;
  text-align: center;
  width: 32.3%;
  margin: 5px;
  min-width: 450;
}

iron-icon {
  color: #0f9d58;
  --iron-icon-width: 144px;
  --iron-icon-height: 144px;
  margin-top: 50px;
}

.workflow-length-label {
  display: block;
  font-size: 28px;
  font-weight: bold;
  margin-top: 10px;
}

.card-content {
  display: table;
  margin: 0px auto;
}

.card-content-table {
  padding: 16px;
  position: relative;
}

.dashboard-widget-header-01 {
  --paper-card-header: {
    background: #ffe5de;
  }
  --paper-card-header-color: #000000;
}

.dashboard-widget-header-02 {
  --paper-card-header: {
    background: #d0e8fc;
  }
  --paper-card-header-color: #000000;
}

.dashboard-widget-header-03 {
  --paper-card-header: {
    background: #d9eeda;
  }
  --paper-card-header-color: #000000;
}

.dashboard-widget-header-04 {
  --paper-card-header: {
    background: #ffe9c9;
  }
  --paper-card-header-color: #000000;
}